workflows/AgenteIATelegram.json
{
  "name": "AgenteIATelegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -80
      ],
      "id": "7e4c1334-b92a-4954-bdb3-4226942e9653",
      "name": "Telegram Trigger",
      "webhookId": "445bf42b-d40b-4311-858f-2127d548c84c",
      "credentials": {
        "telegramApi": {
          "id": "Xcn40pgpOwE5XTjR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        140
      ],
      "id": "ec92d74b-38c9-4443-a00f-44be5723d13e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "phN2HLQti6W3C89N",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        80,
        140
      ],
      "id": "665a1c74-8855-42c0-9836-d851367070f8",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sessionIdType": "customKey"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -100,
        140
      ],
      "id": "c1ea153a-e17f-4cc5-b4db-fad4c781e78c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "XT2Xc4JOu9w8yUlP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        140,
        -80
      ],
      "id": "72797fb9-77ea-4d50-9345-86f0f219a029",
      "name": "Telegram",
      "webhookId": "87bb3a92-2c19-46ff-8de0-0b23d465026a",
      "credentials": {
        "telegramApi": {
          "id": "Xcn40pgpOwE5XTjR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Respode a este mensaje: {{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un asistente útil sobre temas de historia universal"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -180,
        -80
      ],
      "id": "de61cae0-7c14-4e16-8c5e-d1358030b76d",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6629f0d0-f485-4793-a917-b0bbf273d696",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9134702327427edccd8eddc70edf2587a5ec126345dc87023d078ac1ebe3251c"
  },
  "id": "c6S4DnSJcTDVIxSo",
  "tags": []
}